/*
****************************************************************************************************************
	Solarized - A Colloquy colored style
	by Jeff Eaton
	http://angrylittletree.com

	Solarized color scheme by Ethan Schoonover
	http://ethanschoonover.com/solarized

	SOLARIZED HEX     TERMCOL
	--------- ------- -------
	base03    #002b36 brblack
	base02    #073642 black
	base01    #586e75 brgreen
	base00    #657b83 bryellow
	base0     #839496 brblue
	base1     #93a1a1 brcyan
	base2     #eee8d5 white
	base3     #fdf6e3 brwhite
	yellow    #b58900 yellow
	orange    #cb4b16 brred
	red       #dc322f red
	magenta   #d33682 magenta
	violet    #6c71c4 brmagenta
	blue      #268bd2 blue
	cyan      #2aa198 cyan
	green     #859900 green

	Based on:
	mIRCish - An mIRC colored style
	by Charlie Griefer
	http://charlie.griefer.com

	(meaning i started off not with a blank slate, but with Charlie's css and xls files.  thanks, Charlie!)
****************************************************************************************************************
*/

body {
	margin: 4px 0 5px 0;
	color: #657b83;
	background-color: #fdf6e3;
	font: 11px "Menlo", "Andale Mono", "Courier", "Courier New", sans-serif;
	line-height: 1.4em;
}

.envelope			{ padding: 1px 5px; }
.envelope.highlight	{ background-color: #eee8d5; }


.event {
	color: #93a1a1;						/* default events to display green */
	text-align: left;
	padding: 1px 5px;
	word-wrap: break-word;
	-khtml-line-break: after-white-space;
	-khtml-nbsp-mode: space;
}
.event .timestamp	{ color: #93a1a1; }	/* default events to display green */
.event:before		{ content: "* "; }


/* ** EVENT COLORING :: START *********************************************************** */
.banRemoved, .banRemoved .member, .banRemoved .timestamp,
.demotedFromOperator, .demotedFromOperator .member, .demotedFromOperator .timestamp,
.devoiced, .devoiced .member, .devoiced .timestamp,
.memberBanned, .memberBanned .member, .memberBanned .timestamp,
.memberDemotedFromOperator, .memberDemotedFromOperator .member, .memberDemotedFromOperator .timestamp,
.memberDevoiced, .memberDevoiced .member, .memberDevoiced .timestamp,
.memberJoined, .memberJoined .member, .memberJoined .timestamp,
.memberNewNickname, .memberNewNickname .member, .memberNewNickname .timestamp,
.memberPromotedToOperator, .memberPromotedToOperator .member, .memberPromotedToOperator .timestamp,
.memberVoiced, .memberVoiced .member, .memberVoiced .timestamp,
.modeChange, .modeChange .member, .modeChange .timestamp,
.newNickname, .newNickname .member, .newNickname .timestamp,
.promotedToOperator, .promotedToOperator .member, .promotedToOperator .timestamp,
.rejoined, .rejoined .member, .rejoined .timestamp,
.topicChanged, .topicChanged .member, .topicChanged .timestamp,
.voiced, .voiced .member, .voiced .timestamp { color:#93a1a1 !important; }

.kicked, .kicked .member, .kicked .timestamp,
.memberKicked, .memberKicked .member, .memberKicked .timestamp,
.memberParted, .memberParted .member, .memberParted .timestamp,
.disconnected, .disconnected .member, .disconnected .timestamp { color:#586e75 !important; }

.awaySet, .awaySet .member, .awaySet .timestamp,
.awayRemoved, .awayRemoved .member, .awayRemoved .timestamp { color:#93a1a1 !important; }
/* ** EVENT COLORING :: END ************************************************************* */

.message { margin: 0; }

.left {
	float: left;
	clear: left;
	height: 100%;
	margin: 0 5px 0 0;
	line-height: 1.4em;
}

.timestamp {
	color: #93a1a1;
	margin: 0 5px 0 0;
	float: left;
}
.timestamp:before	{ content: "["; }
.timestamp:after 	{ content: "]"; }

.left > .chanOp:before 		{ content: "@"; }
.left > .chanVoice:before	{ content: "+"; }

.left > .member:after,
.left > .self:after,
.left > .chanOp:after,
.left > .chanVoice:after { content: ":" ;}

.action a:before 			{ content: "* ";  }
.action a.chanOp:before		{ content: "* @"; }
.action a.chanVoice:before	{ content: "* +"; }

a.member, a.self, a.action { text-decoration:none; }
a.member:hover, a.self:hover, a.actionNick:hover { border-bottom-width:1px; border-bottom-style:dotted; border-bottom-color:inherit; }

.left > a.member{ color: #cb4b16;    text-decoration:none !important; }	/* color nick for member */
.left > a.self	{ color: #859900; text-decoration:none !important; }	/* color nick for user (self) */
a.actionNick	{ color: #cb4b16; text-decoration:none !important; }	/* color nick for actions */

.action .timestamp, .action .text { color:#657b83; }

.action .text a			{ text-decoration:none; color:#657b83; }
.action .text a:hover	{ border-bottom-width:1px; border-bottom-style:dotted; border-bottom-color:inherit; }
.action .text a:before	{ content: ""; }

.text a, .highlight .text a	{ color:inherit; }
.text a[href^="http"]		{ text-decoration:none; color:#268bd2; border-bottom:1px dotted #268bd2; }
.text a[href^="http"]:hover	{ color:#1DA9EF; border-bottom:1px dotted #268bd2; }

/* fix for nick not appearing in action color if action is highlighted */
.action a.member, .action a.self, .action a.actionNick { color: #80008A !important; }


.text:first-line { margin-left: 0; }
/* .text .member { color: #353535 !important; font-weight: bold !important; } */

.error			{ color: #dc322f; }
.error:before	{ content: "("; }
.error:after 	{ content: ")"; }

/* Image embed stuff */
img	{ max-width: 100px; border: 1px solid #002b36; }