/*
****************************************************************************************************************
	Solarized - A Colloquy colored style
	by Jeff Eaton
	http://angrylittletree.com

	Solarized color scheme by Ethan Schoonover
	http://ethanschoonover.com/solarized

	SOLARIZED HEX     TERMCOL
	--------- ------- -------
	base03    #002b36 brblack
	base02    #073642 black
	base01    #93a1a1 brgreen
	base00    #839496 bryellow
	base0     #839496 brblue
	base1     #586e75 brcyan
	base2     #073642 white
	base3     #002b36 brwhite
	yellow    #b58900 yellow
	orange    #cb4b16 brred
	red       #dc322f red
	magenta   #d33682 magenta
	violet    #6c71c4 brmagenta
	blue      #268bd2 blue
	cyan      #2aa198 cyan
	green     #859900 green

	Based on:
	mIRCish - An mIRC colored style
	by Charlie Griefer
	http://charlie.griefer.com

	(meaning i started off not with a blank slate, but with Charlie's css and xls files.  thanks, Charlie!)
****************************************************************************************************************
*/

body {
	color: #839496;
	background-color: #002b36;
}

.envelope.highlight	{ background-color: #073642; }

.event {
	color: #586e75;						/* default events to display green */
}
.event .timestamp	{ color: #586e75; }	/* default events to display green */

/* ** EVENT COLORING :: START *********************************************************** */
.banRemoved, .banRemoved .member, .banRemoved .timestamp,
.demotedFromOperator, .demotedFromOperator .member, .demotedFromOperator .timestamp,
.devoiced, .devoiced .member, .devoiced .timestamp,
.memberBanned, .memberBanned .member, .memberBanned .timestamp,
.memberDemotedFromOperator, .memberDemotedFromOperator .member, .memberDemotedFromOperator .timestamp,
.memberDevoiced, .memberDevoiced .member, .memberDevoiced .timestamp,
.memberPromotedToOperator, .memberPromotedToOperator .member, .memberPromotedToOperator .timestamp,
.memberVoiced, .memberVoiced .member, .memberVoiced .timestamp,
.modeChange, .modeChange .member, .modeChange .timestamp,
.promotedToOperator, .promotedToOperator .member, .promotedToOperator .timestamp,
.topicChanged, .topicChanged .member, .topicChanged .timestamp,
.voiced, .voiced .member, .voiced .timestamp { color:#586e75 !important; }

.memberNewNickname, .memberNewNickname .member,
.newNickname, .newNickname .member{ color: #6c71c4 !important; }

.kicked, .kicked .member, .kicked .timestamp,
.memberKicked, .memberKicked .member, .memberKicked .timestamp,
.disconnected, .disconnected .member, .disconnected .timestamp { color:#93a1a1 !important; }

.awaySet, .awaySet .member, .awaySet .timestamp,
.awayRemoved, .awayRemoved .member, .awayRemoved .timestamp { color:#586e75 !important; }
/* ** EVENT COLORING :: END ************************************************************* */

/* ** Display None for Join / Part messages ** */
.memberJoined, .memberJoined .member, .memberJoined .timestamp,
.rejoined, .rejoined .member, .rejoined .timestamp,
.memberParted, .memberParted .member, .memberParted .timestamp { display: none; }

.timestamp {
	color: #586e75;
}

.left > a.member{ color: #cb4b16;    text-decoration:none !important; }	/* color nick for member */
.left > a.self	{ color: #2aa198; text-decoration:none !important; }	/* color nick for user (self) */
a.actionNick	{ color: #cb4b16; text-decoration:none !important; }	/* color nick for actions */

.action .timestamp, .action .text { color:#839496; }

.action .text a			{ text-decoration:none; color:#839496; }
.action .text a:hover	{ border-bottom-width:1px; border-bottom-style:dotted; border-bottom-color:inherit; }
.action .text a:before	{ content: ""; }

.text a, .highlight .text a	{ color:inherit; }
.text a[href^="http"]		{ text-decoration:none; color:#268bd2; border-bottom:1px dotted #268bd2; }
.text a[href^="http"]:hover	{ color:#1DA9EF; border-bottom:1px dotted #268bd2; }

/* fix for nick not appearing in action color if action is highlighted */
.action a.member, .action a.self, .action a.actionNick { color: #2aa198 !important; }

.error			{ color: #dc322f; }